export const config = {
  database: process.env.DB_NAME || "dbname",
  dialect: process.env.DB_DRIVER  || "mysql",
  username: process.env.DB_USER  || "root",
  password: process.env.DB_PASSWORD || "root",
  storage: ':memory:',
  modelPaths: [__dirname + "/src/modules/**/*.model.js"]
}
